html,body
{
	margin: 0;
	font-size: 10px;
}
/*************头部**************/
header
{
	width: 100%;
	height: 60px;
	background: rgba(0,0,0,.6);
	font-size: 1.4em;
}
#head
{
	width: 960px;
	margin: 0 auto;
	line-height: 50px;	/*令logo垂直居中*/
}
#logo
{
	float: left;
	color: #fff;
}
#head ul
{
	list-style: none;
	float: right;
	margin-top: -10px;
}
#head ul li
{
	float: left;
	margin: 0 5px;
}
#head ul li a
{
	color: #fff;
}

/***************** Banner部分 ****************/
#banner
{
	float: left;	/*除去header与Banner之间的缝隙*/
	width: 100%;
	height: 200px;
	background: #66bb33;
}
#banner ul
{
	list-style: none;
	float: right;
	margin-top: 160px;
	margin-right: 50px;
}
#banner ul li
{
	float: left;
	background-color: rgba(255,255,255,.5);
	border: 1px solid #333;
	margin: 0 2px;
	padding: 3px 6px;
	font-size: 1.2em;
}
#banner ul li:nth-child(2)
{
	padding-top: 16px;
	margin-top: -12px;
	background-color: rgba(255,255,255,.8);
}

/*****************主导航区域**********************/
nav
{
	width: 100%;
	float: left;
}
#nav
{
	width: 960px;
	height: 35px;
	margin: 0 auto;		/*水平居中*/
}
#nav ul
{
	list-style: none;
	position: relative;
}
#nav li
{
	float: left;
	font-size: 1.2em;
	margin-top: 5px;
	padding: 9px 14px;
	border: .5px solid #ddd;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	background-color: #eee;
}
#nav ul li:nth-child(1)
{
	background-color: #fff;
	border-bottom: 1px solid #fff;
}
#nav ul li:nth-child(1):after
{
	content: "";
	display: block;
	width: 64px;
	height: 2px;
	position: absolute;
	background: #fff;
	left: 41px;
	top: 39px;
}
nav hr
{
	width: 100%;
	border: .5px solid #ddd;
}

/*****************主要内容区域*********************/
main
{
	width: 100%;
}
#main
{
	width: 960px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	/*flex-wrap: wrap;	换行*/
}
#main div>div
{
	padding: 80px;
	border: 1px solid #ddd;
	margin: 5px;
	font-size: 1.2em;
	flex: 1 1 auto;
	text-align: center;
}
#main>div
{
	display: flex;
}


/**********************底部************************/
footer
{
	width: 100%;
	height: 80px;
	background: rgba(0,0,0,.6);
	/*position: absolute;
	bottom: 0;*/
}
#footer
{
	text-align: center;
	color: #fff;
	font-size: 1.2em;
	padding-top: 20px;
}
