
h1
{
	/*布局方式*/
	float: left;
	/*尺寸大小*/
	width:150px;
	height:670px;
	/*文本相关*/
	text-align: center;
	/*视觉效果*/
	color:#fff;
	padding-top:50px;
	background-color: #66aaff;
}
#main
{
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
.h7
{
	display: block;
}