body
{
	font-size: 10px;
}
h1
{
	/*位置*/
	/*尺寸*/
	width:100%;
	padding:1em 2em;
	/*文本相关*/
	font-size: 1.8em;
	/*视觉效果*/
	color:#fff;
	background-color: #777;
}
.message-box
{
	position: relative;
	top: -1.3em;
	height: 8.9em;
	width: 100%;
	margin-bottom: .2em;
	border: 1px solid #ccc;
}
.message-box h2
{
	display: inline-block;
	position: absolute;
	top: -.9em;
	height: 4em;
	width: 8em;
	padding-top: 2em;
	text-align: center;
	background-color: #ccc;
}
.message-box p
{
	display: block;
	position: absolute;
	left: 8.5em;
	font-size: 1.6em;
}
.item
{
	display: block;
}